<div class="container-secondary">
  <div class="container-third">
    <div class="cong-heading">
    <p class="cong-heading__cong-head">Congratulations</p>
  </div>
    <div class="star">
      <img  src="assets/images/Vector.png"/>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed saepe exercitationem deleniti illo esse, aut eaque alias voluptatum molestias quia!</p>
    <div class="btn-div">
      <button class="btn-one-final" routerLink="/form2">Continue</button>
    </div>
  </div>

</div>
