
<div class="container-fluid">
  <div class="card m-1">
    <div class="section-one">
      <div>
       <img class="section-one__img-logo"  src="assets\images\logo1.png" >
       <img class="section-one__img-one"  src="assets\images\stepup1.png">
    </div>
    </div>
    <div class="headings">
      <div >
        <p class="headings__heading-main">STEP-UP</p>
        <p class="headings__heading-sub">Instant loan for the Mobile first world</p>
      </div>
    </div>
    <div class="section-two justify-content-center">
      <form>
        <div class="section-two__inp-one">
        <input class="section-two__inp-one__input-one" placeholder="Enter Your Number">
      </div>
      </form>
      <div class="btn-div">
        <button class="btn-one" routerLink="./otp">Continue</button>
      </div>
    </div>
  </div>

</div>
