<div class="container-main bg-light">
  <div class="rectangle">
    <div class="rectangle__register-headings">
      <p class="rectangle__register-headings__heading-main">Register</p>
      <p class="rectangle__register-headings__heading-sub">Let Us Know You Better</p>
    </div>

    <div class="rectangle__tracking-btns">
      <div class="rectangle__tracking-btns__ring">
        <p class="rectangle__tracking-btns__ring__round-btns-first">1</p>
      </div>
      <p class="rectangle__tracking-btns__line-connector"></p>
      <p class="rectangle__tracking-btns__round-btns">2</p>
      <p class="rectangle__tracking-btns__line-connector"></p>
      <p class="rectangle__tracking-btns__round-btns">3</p>
      <p class="rectangle__tracking-btns__line-connector"></p>
      <p class="rectangle__tracking-btns__round-btns">4</p>
    </div>
  </div>
  <hr>
  <div class="img-container">
    <img class="img-container__logos" src="assets/images/men.png">
    <img class="img-container__logos" src="assets/images/women.png">
  </div>
  <hr>
    <form class="form-container">



        <input class="input-main" type="text" placeholder="First Name">

        <input class="input-main" type="text" placeholder="Last Name">


        <input class="input-main" type="text" placeholder="Personal Email">
        <input class="input-main" type="text" placeholder="Address Line 1">


        <input class="input-main" type="text" placeholder="Address Line 2">
        <input class="input-main" type="text" placeholder="Land Mark">


        <input class="input-main" type="text" placeholder="City">
        <div class="input-dev">
          <input class="input-sub" type="text" placeholder="Pin Code">
          <input class="input-sub" type="text" placeholder="State">
        </div>


    </form>
    <div class="btn-div">
      <button class="btn-one" >Continue</button>
    </div>
</div>
