/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
p{
  margin: 0;
  padding: 0;
}

html {
    // This defines what 1rem is
    font-size: 100%;

}

body {

    background-color: white;

}
.container-main{
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: center;
}
.btn-div{
  display: flex;
  justify-content: center;
}
.btn-one{
  width: 80vw;
  height: 7vh;
  margin: 2vh;
  display: inline-block;
  background-color: rgb(7, 145, 7);
  color: white;
  text-align: center;
  border: 1px solid darkslategrey;
  border-radius: 1rem ;
  &:hover{
    background-color: rgb(5, 83, 5);
  }
}


.prompt {
	margin-bottom: 20px;
	font-size: 20px;
	color: white;
}

.rectangle {
  position: absolute;
  width: 100vw;
  height: 30vh;
  background: #f0f7e9;
  border-radius: 0px 0px 0px 40px;
  &__register-headings {
    height: 25vh;
    width: 100vw;
    font-family: "Roboto";
    &__heading-main {
      width: 100vw;
      opacity: 1;
      font-size: 6vmax;
      font-weight: 800;
      color: rgb(7, 145, 7);
    }
    &__heading-sub {
      width: 100vw;
      font-size: 2vmax;
      font-weight: 100;
      color: grey;
    }
  }
  &__tracking-btns {
    //position: relative;
    display: flex;
    justify-content: center;
    &__round-btns {
      display: flex;
      justify-content: center;
      font-size: 2vmax;
      width: 4vmax;
      height: 4vmax;
      background: #b8e28a;
      border-radius: 2vmax;
      align-items: center;
    }
    &__line-connector {

      // left: calc(50% - 10px/2 + 27px);
      height: 0.5vw;
      align-self: center;
      width: 2.5vw;
      background: #b8e28a;
    }
    &__ring {
      display: flex;
      justify-content: center;
      font-size: 2vmax;
      width: 4vmax;
      height: 4vmax;
      background: #ffff;
      border: 1px solid #b8e28a;
      border-radius: 2vmax;
      &__round-btns-first {
        display: flex;
        justify-content: center;
        font-size: 2vmax;
        width: 3vmax;
        height: 3vmax;
        background: #b8e28a;
        border-radius: 1.5vmax;
        margin: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
      }
    }
  }
}
.img-container {
  display: flex;
  justify-content: center;
  margin-top: 33vh;
  width: 100vw;
  &__logos {
    position: relative;
    background: #f8fcf3;
    border: 1vw solid #347571;
    box-sizing: border-box;
    height: 15vmax;
    width: 15vmax;
    margin: 1vmax;
    border-radius: 10vw;
  }
}

.form-container {

  width: 100vw;

  .input-main{
    background: #f6f6f6;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5vh;
    width: 80vw;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 8px;
    height: 5vh;
    color: black;
    display: flex;
  }
  .input-dev{
    width: 80vw;
    margin-left: 8vw;
    display: flex;
    justify-content: start;
    margin-right: 8vw;

  }
  .input-sub{
    background: #f6f6f6;
    margin-bottom: 5vh;
    margin: 1vw;
    width: 40vw;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    border-radius: 8px;
    height: 5vh;
    color: black;
  }


}


