<div class="bg-light">
  <div class="rectangle">
    <div class="rectangle__register-headings">
      <p class="rectangle__register-headings__heading-main">Register</p>
      <p class="rectangle__register-headings__heading-sub">Let Us Know You Better</p>
    </div>

    <div class="rectangle__tracking-btns">
      <p class="rectangle__tracking-btns__round-btns"> &#10003;</p>
      <p class="rectangle__tracking-btns__line-connector"></p>



      <p class="rectangle__tracking-btns__round-btns"> &#10003;</p>
      <p class="rectangle__tracking-btns__line-connector"></p>
      <p class="rectangle__tracking-btns__round-btns">&#10003;</p>
      <p class="rectangle__tracking-btns__line-connector"></p>
      <div class="rectangle__tracking-btns__ring">
        <p class="rectangle__tracking-btns__ring__round-btns-first">
         4</p>
      </div>

    </div>
  </div>
  <hr>
  <div class="img-container">
  </div>
  <hr>
    <form class="form-container">



        <input class="input-main" type="text" placeholder="In Hand Salary">
        <div class="input-dev">
          <div class="input-sub-file">
            <div class="aadar-head">
            <p>Upload Bank Statement</p>
          </div>
          <div class="file-input">
            <input type="file" id="BtnBrowseHidden" name="files" style="display: none;" /><br>
            <label for="BtnBrowseHidden" id="LblBrowse">
              <i class="fa fa-cloud-upload" style="font-size:48px;color:green"></i>
            </label>
          </div>
          </div>
        </div>

        <input class="input-main" type="text" placeholder="Other Income">


        <input class="input-main" type="text" placeholder="Total Existing EMI">
        <input class="input-main" type="text" placeholder="Who do you need the Loan">




    </form>
    <div class="btn-div">
      <button class="btn-one" routerLink="/final">Continue</button>
    </div>
  </div>


